use flake
source_url "https://github.com/tmatilai/direnv-1password/raw/v1.1.0/1password.sh" \
    "sha256-JLh6cts1LNpmo7JeVgJ3NgmeHI3G7h2deYwkcpTweDI="
from_op OP_SERVICE_ACCOUNT_TOKEN=op://Personal/ji6e44nh2ztnougcb5k4ynaqn4/password

from_op .1password
