---
name: update-flakes
on:
  schedule:
    - cron: "0 */4 * * *" # Runs every 4 hours
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  get-flake-inputs:
    runs-on: ubuntu-latest
    outputs:
      flake-inputs: ${{ steps.get-flake-inputs.outputs.flake-inputs }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          sparse-checkout: flake.lock
      - id: get-flake-inputs
        run: |
          if [ -f flake.lock ]; then
            flake_inputs="$(jq -c '.nodes.root.inputs | {flake: keys}' flake.lock)"
          else
            echo "flake.lock not found. Assuming no inputs for update."
            flake_inputs='{"flake":[]}'
          fi
          echo "flake-inputs=${flake_inputs}" >> "$GITHUB_OUTPUT"

  update-flake:
    name: update-${{ matrix.flake }}
    runs-on: ubuntu-latest
    needs: get-flake-inputs
    if: ${{ fromJson(needs.get-flake-inputs.outputs.flake-inputs).flake != '[]' }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.get-flake-inputs.outputs.flake-inputs) }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          lfs: false

      # Generate a GitHub App token for creating the PR
      - name: Generate App Token
        id: generate_token
        uses: peter-murray/workflow-application-token-action@d17e3a9a36850ea89f35db16c1067dd2b68ee343 # v4
        with:
          application_id: ${{ secrets.BOT_APP_ID }}
          application_private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      # Configure Git for FlakeBuilderApp
      - name: Configure Git for bot
        run: |
          git config --global user.email "lord-of-lightning-bot[bot]@users.noreply.github.com"
          git config --global user.name "lord-of-lightning-bot[bot]"
          echo "Git user configured: $(git config --global user.name) <$(git config --global user.email)>"

      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          extra-conf: accept-flake-config = true

      - name: Update Flake Dependency and Create PR
        uses: cpcloud/flake-update-action@10ccab3efc5659d7562dd2368990e081f3ee7ac9 # v2.0.1
        with:
          dependency: ${{ matrix.flake }}
          pull-request-token: ${{ steps.generate_token.outputs.token }}
          github-token: ${{ steps.generate_token.outputs.token }}
          pull-request-author: "lord-of-lightning-bot[bot] <lord-of-lightning-bot[bot]@users.noreply.github.com>"
          delete-branch: true
          pull-request-branch-prefix: update-
          automerge: true
